In [15]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [16]:
 for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [17]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [18]:
# Add the Pandas dependency.
import pandas as pd

In [22]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [23]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [24]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [28]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [38]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school name"] = school_name
schools_df["type of school"] = type_of_school
# Print the DataFrame.
schools_df

   School ID            school name type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [41]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [43]:
 schools_df = pd.DataFrame(high_schools_dict)

In [45]:
schools_df

   School ID            school name type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [46]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [48]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [50]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [58]:
>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df

   col1  col2
0     1     3
1     2     4

In [88]:
school_id = range(0,15,1)

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School","Wilson high school",
               "Cabrera high school","bailey high school","Holden high school",
               "Pena high school", "Wright high school","Rodriguez high school","Johnson high school",
               "Ford high school","Thomas high school"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter",
                  "Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [87]:
df = pd.DataFrame({'A': school_id,
                   'B': school_name,
                   'C': type_of_school})
                  
df

     A                      B         C
0    0      Huang High School  District
1    2   Figueroa High School  District
2    4    Shelton High School   Charter
3    6  Hernandez High School  District
4    8    Griffin High School   Charter
5   10     Wilson high school   Charter
6   12    Cabrera high school   Charter
7   14     bailey high school  District
8   16     Holden high school   Charter
9   18       Pena high school   Charter
10  20     Wright high school   Charter
11  22  Rodriguez high school  District
12  24    Johnson high school  District
13  26       Ford high school  District
14  28     Thomas high school   Charter